* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

h1 {
  font-size: 3.4rem;
}

.logo {
  color: #ffffff;
  font-weight: 600;
}

a.logout {
  color: #f0c419;
  font-size: 2.3rem;
  text-decoration: none;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-start {
  align-items: flex-start;
}
.row-end {
  justify-content: flex-end;
}

.row-center {
  justify-content: center;
}

.column-start {
  justify-content: flex-start;
}

.form-page {
  padding-top: 30vh;
}

nav {
  background-color: #2c3e50;
  padding: 0.4rem;
  border-bottom: 3px solid #f0c419;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 6rem;
}

.nav-links {
  list-style: none;
  width: 10%;
  min-width: 120px;
}

.nav-links a {
  font-size: 1.1rem;
  font-weight: 700;
  background-color: #f0c419;
  padding: 1rem;
  text-decoration: none;
  border-radius: 5px;
  color: #000000;
}

.nav-links a:hover {
  background-color: #c7a00c;
}

.nav-links h2 {
  color: #ffffff;
}

a {
  text-decoration: none;
}

header {
  padding: 0;
}

main {
  height: 100%;
  width: 100%;
  padding-top: 10rem;
}

main.cover {
  background: url("../bg2.jpg") no-repeat center center fixed;
  background-size: cover;
}

.card {
  width: 30%;
  min-width: 300px;
  background-color: #2c3e50;
  box-shadow: 1px 1px 15px #333;
  margin: 0 auto;
  border-radius: 5px;
  color: #ffffff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

form h2 {
  width: 100%;
  font-size: 3rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #f0c419;
}
.col-1 {
  flex: 1 1;
}
.col-2 {
  flex: 2 1;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}

label.control {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  margin-top: 0.8rem;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
input[type="password"] {
  font-size: 1.5rem;
  height: 2.8rem;
  border-radius: 5px;
  border: 1px solid #f0c419;
  padding-left: 1rem;
}

input.control,
select.control {
  width: 98%;
  font-size: 1.2rem;
}

input.full {
  width: 100%;
}

input[type="submit"] {
  margin-top: 2rem;
  padding: 0.6rem;
  border-radius: 5px;
  font-size: 1.8rem;
  background-color: #f0c419;
  border: none;
}

input[type="submit"]:hover {
  background-color: #c7a00c;
}

.operations {
  width: 100%;
}

.operations a {
  font-size: 1.2rem;
  font-weight: 700;
  background-color: #f0c419;
  padding: 0.8rem;
  text-decoration: none;
  border-radius: 5px;
  color: #000000;
  margin-left: 1rem;
}

.warning {
  font-size: 2rem;
  color: red;
  display: inline-block;
}

.course-card {
  width: 60%;
  margin: 1rem auto;
}

.course-card label {
  font-size: 1.8rem;
}

input[type="submit"].course-submit {
  font-size: 1.5rem;
  padding: 0.6rem;
  margin-top: 0rem;
}

p.description {
  margin: 1rem 0;
  font-size: 1.7rem;
}

p.control-panel {
  font-size: 1.9rem;
  margin: 1rem 0;
}

h1.description {
  font-size: 2rem;
}

img.logo-image {
  width: 45px;
  display: inline;
  margin-right: 1rem;
}

a.red {
  background-color: #c00000;
  color: #ffffff;
}

a.green {
  background-color: #006600;
  color: #ffffff;
}
